@page "/inoutPut/update/{idInOut}"

<hr />
<a class="btn btn-primary" href="inoutPut/list">Regresar</a>
<hr />

<UpdateInoutComponent idInOut="@idInOut"></UpdateInoutComponent>

@code{
    [Parameter]
    public string idInOut { get; set; }
    protected override async Task OnInitializedAsync()
    {
        idInOut = idInOut;
    }

}