@page "/categorie/update/{idCategory}"

<hr />
<a class="btn btn-primary" href="categorie/list">Regresar</a>
<hr />

<UpdateCategorieComponent idCategory="@idCategory"></UpdateCategorieComponent>

@code{
    [Parameter]
    public string idCategory { get; set; }
    protected override async Task OnInitializedAsync()
    {
        idCategory = idCategory;
    }

}