@page "/warehouse/update/{idWarehouse}"

<hr />
<a class="btn btn-primary" href="warehouse/list">Regresar</a>
<hr />

<UpdateWarehouseComponent idWarehouse="@idWarehouse"></UpdateWarehouseComponent>

@code{
    [Parameter]
    public string idWarehouse { get; set; }
    protected override async Task OnInitializedAsync()
    {
        idWarehouse = idWarehouse;
    }

}