@using Entities
@using Business
@using Entities.Interface

@inject NavigationManager NavManager

<div>
    <EditForm Model="oWarehouse">
        @*<div class="form-group">
            <label>Referencia: </label>
            <InputText @bind-Value="oWarehouse.WarehouseId" class="form-control"></InputText>
        </div>*@
        <div class="form-group">
            <label>Nombre del deposito: </label>
            <InputText @bind-Value="oWarehouse.WarehouseName" class="form-control"></InputText>
        </div>
        <div class="form-group" >
            <label>Direccion: </label>
            <InputText @bind-Value="oWarehouse.WarehouseAddress" class="form-control"></InputText>
        </div>

        <input type="button" value="Agregar Deposito" @onclick="SaveWarehouse" />
    </EditForm>
</div>

@code {
    WarehouseEntity oWarehouse = new WarehouseEntity();

    protected override async Task OnInitializedAsync() 
    {
    }

    private void SaveWarehouse()
    {
        oWarehouse.WarehouseId = Guid.NewGuid().ToString();
        B_Warehouse.CRUDWarehouse(oWarehouse,IOperator.Create);
        NavManager.NavigateTo("warehouse/list");
    }
}
